In [1]:
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd

WARNING:tensorflow:From c:\Users\city\Generative AI with LANGCHAIN-KN\ANN-PROJECT\ann-sample\venv_ann\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# load the ann model , pickle model
model=load_model('annmodel.h5')

# load the pickles
with open('one_hot_en.pkl','rb') as file:
    lebel_encoder_geo=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)
    
with open('label_encoder_gender.pkl','rb') as file:
    lebel_encoder_gender=pickle.load(file)

WARNING:tensorflow:From c:\Users\city\Generative AI with LANGCHAIN-KN\ANN-PROJECT\ann-sample\venv_ann\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Example input data
input_data = {
    'CreditScore': 502,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 42,
    'Tenure': 7,
    'Balance': 160221,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 119911
}

In [4]:
#turning the dictionary input data in dta fame
input_data =pd.DataFrame([input_data])

In [5]:
## one hot encoding "geography
geo_encoded = lebel_encoder_geo.transform([input_data['Geography']]).toarray()
geo_encoded_pd=pd.DataFrame(geo_encoded,columns=lebel_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_pd

c:\Users\city\Generative AI with LANGCHAIN-KN\ANN-PROJECT\ann-sample\venv_ann\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
input_data=pd.concat([input_data,geo_encoded_pd],axis=1)
input_data = input_data.drop(['Geography'],axis=1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,502,Female,42,7,160221,3,1,1,119911,1.0,0.0,0.0

In [7]:
##encodding categorical value
input_data['Gender']=lebel_encoder_gender.fit_transform([input_data['Gender']])
input_data

c:\Users\city\Generative AI with LANGCHAIN-KN\ANN-PROJECT\ann-sample\venv_ann\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,502,0,42,7,160221,3,1,1,119911,1.0,0.0,0.0

In [12]:
input_data = scaler.fit_transform(input_data)
input_data

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [14]:
result=model.predict(input_data)
result

1/1 [==============================] - 0s 115ms/step

array([[0.2640124]], dtype=float32)

In [18]:
result_prob=result[0][0]
result_prob

0.2640124

In [17]:
if result_prob<5:
    print('Not gonna churn')
else:
    print('churn')

Not gonna churn